/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
body{
    font-family: 'PT Sans', sans-serif;
}

.mobile-padding{
    padding-left: 2rem;
    padding-right: 2rem;

}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flexcontainer{
    display: flex;
}

/* HEADER */
header{
    background-color: #0084fd;
    height: 80px;
}

.logo img{
    width: 80%;
}

nav{
    justify-content: space-between;
    align-items: center;

    height: 100%;
    color: white;
}

nav ul{
    list-style: none;
}

.burger-menu a{
    color: inherit;
    font-size: 22px;
}

.desk-menu{
    display: none;
}

/* MAIN */
.summary{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.summary-parts{
    flex-direction: column;
}

.summary-col{
    border: 1px solid blue;
}

/*** 
TABLET RESP
***/
@media screen and (min-width:768px) {

    .summary-parts{
        flex-direction: row;
        flex-wrap: wrap;

        margin-left: -1rem;
        margin-right: -1rem;
    }

    .summary-col{
        border: 1px solid red;
        width: calc(100% / 3);
        padding: 0 1rem;
    }

    .summary-col:first-child{
        border: 1px solid green;
        width: calc((100% / 3) * 2);
    }
    
}

/*** 
DESKTOP RESP
***/
@media screen and (min-width:992px) {

    .burger-menu{
        display: none;
    }

    .desk-menu{
        display: block;
    }
    
}

/************************ 
    (?)MOBILE FIRST-LAYOUT
        BREAKPOINT:
        TABLET: 768px
        DESKTOP:992px 
**************************/