/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
body{
    font-family: 'PT Sans', sans-serif;
}

.mobile-padding{
    padding-left: 2rem;
    padding-right: 2rem;

}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flexcontainer{
    display: flex;
}

/* HEADER */
header{
    background-color: #0084fd;
    height: 80px;
}

.logo img{
    width: 80%;
}

nav{
    justify-content: space-between;
    align-items: center;

    height: 100%;
    color: white;
}

nav ul{
    list-style: none;
}

.burger-menu a{
    color: inherit;
    font-size: 22px;
}

.desk-menu{
    display: none;
}

/* MAIN */

/* SUMMARY */
.summary{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.summary-parts{
    flex-direction: column;
}

.summary-col{
    border: 1px solid blue;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* STRATEGY */
.strategy-back{
    background-color: #9792e4;
}

.strategy{
    flex-direction: column;
    color: white;

    padding-top: 2rem;
    padding-bottom: 3rem;
}

.strategy-1{
    flex-direction: column;
    padding-bottom: 2rem;
}

.strategy-1 h2{
    font-size: 36px;
    padding-bottom: 2rem;
}

.strategy-1 img{
    width: 90%;
    align-self: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.strategy-card{
    flex-direction: column;
    background-color: white;
    border-radius: 50px;
    color: black;
    padding: 1rem 1rem;

}

/* .strategy-2{    
    color: black;
    padding: 1rem 1rem;
} */

.strategy-2 img{
    width: 70%;
    align-self: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.strategy-2 h2,
.strategy-2 p{
    padding-bottom: 1rem;
}

.strategy-2 a{
    background-color: #9792e4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    align-self: center;
}

/* PARTNERS */
.partners{
    padding-top: 2rem;
}

.partner-head{
    text-align: center;
    margin-bottom: 2rem;
}

.partner-head h2{
    font-size: 2.2rem;
    color: #9792e4;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.partner-head p{
    font-size: 1.2rem;
    line-height: 30px;
}

.review{
    background-color: #9792e4;
    border-radius: 45px;
    margin-bottom: 1.5rem;
}
.review-card{
    flex-direction: column;
    align-items: center;

    padding: 1.5rem 1rem;
    color: white;
    text-align: center;
}

.review-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.review-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.review-card p{
    line-height: 30px;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.review-card span:last-child{
    font-weight: bold;
    font-size: 1.1rem;
}

/*** 
TABLET RESP
***/
@media screen and (min-width:768px) {

    .summary-parts{
        flex-direction: row;
        flex-wrap: wrap;

        margin-left: -1rem;
        margin-right: -1rem;
    }

    .summary-col{
        border: 1px solid red;
        width: calc(100% / 3);
        padding: 0 1rem;
    }

    .summary-col:first-child{
        border: 1px solid green;
        width: calc((100% / 3) * 2);
    }
    
}

/*** 
DESKTOP RESP
***/
@media screen and (min-width:992px) {

    .burger-menu{
        display: none;
    }

    .desk-menu{
        display: block;
    }

    .strategy{
        flex-direction: row;
        color: white;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .strategy-2{
        flex-direction: column;

        background-color: white;
        border-radius: 50px;
        color: black;
        padding: 0 1rem;
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    
}

/************************ 
    (?)MOBILE FIRST-LAYOUT
        BREAKPOINT:
        TABLET: 768px
        DESKTOP:992px 
**************************/