/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
body{
    font-family: 'PT Sans', sans-serif;
}

.mobile-padding{
    padding-left: 2rem;
    padding-right: 2rem;

}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flexcontainer{
    display: flex;
}

/* HEADER */
header{
    background-color: #0084fd;
    height: 80px;

    position: fixed;
    z-index: 10;
    top:0;
    left:0;
    width: 100%;
}

.logo img{
    width: 80%;
}

nav{
    justify-content: space-between;
    align-items: center;

    height: 100%;
    color: white;
}

nav ul{
    list-style: none;
}

.burger-menu a{
    color: inherit;
    font-size: 22px;
}

.desk-menu{
    display: none;
}

/* MAIN */

/* SUMMARY */
.summary{
    margin-top: 8rem;
    margin-bottom: 3rem;
}
.summary-parts{
    flex-direction: column;
}

.summary-col{
    padding-top: 1rem;
    padding-bottom: 1rem;

    margin-bottom: 2rem;
}

.summary-content{
    background-color: #b5ddff;
    border-radius: 20px;
    height: 100%;

    flex-direction: column;
}

/* DOWNLOAD DEMO */
.summary-content-text{
    padding: 2.5rem 2rem;
}

.summary-content-text h3{
    color: #0084fd;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.summary-content-text p{
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.summary-content-text a{
    color: white;
    text-decoration: none;
    background-color: #0084fd;
    padding: 10px 25px;
    border-radius: 20px;

    display: inline-block;
}

.summary-content-img{
    align-self: center;
    width: 60%;
}

.summary-content-img img{
    width: 200px;
}

/* PARTI SUMMARY */
.summary-content-col{
    padding: 1.8rem 2rem;
    flex-direction: column;
}

.summary-content-col span{
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #0084fd;
}

.summary-content-col h3{
    color: #0084fd;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

/* STRATEGY */
.strategy-back{
    background-color: #9792e4;
}

.strategy{
    flex-direction: column;
    color: white;

    padding-top: 2rem;
    padding-bottom: 3rem;
}

.strategy-1{
    flex-direction: column;
    padding-bottom: 2rem;
}

.strategy-1 h2{
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.strategy-1 p{
    padding-right: 3rem;
}

.strategy-1 img{
    width: 80%;
    align-self: center;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
}

.strategy-card{
    text-align: center;
    flex-direction: column;
    background-color: white;
    border-radius: 55px;
    color: black;
    padding: 2rem 2.5rem;

}

.strategy-2 img{
    width: 80%;
    align-self: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.strategy-2 h2{
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    font-size: 1.6rem;
}

.strategy-2 p{
    padding-bottom: 1.5rem;
    font-style: italic;
}

.strategy-2 a{
    background-color: #9792e4;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    align-self: center;
}

/* PARTNERS */
.partners{
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

.partner-head{
    text-align: center;
    margin-bottom: 2rem;
}

.partner-head h2{
    font-size: 2.2rem;
    color: #9792e4;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.partner-head p{
    font-size: 1.2rem;
    line-height: 30px;
}

.review{
    background-color: #9792e4;
    border-radius: 45px;
    margin-bottom: 2rem;
}

.review-card{
    flex-direction: column;
    align-items: center;

    padding: 1.5rem 1rem;
    color: white;
}

.review-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
}

.review-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.review-text{
    text-align: center;
}

.review-text p{
    line-height: 32px;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.review-card span:last-child{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.1rem;
}

/* BENEFITS */
.benefits{
    background-color: #9792e4;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.benefits-head h2{
    font-size: 2.2rem;
    text-align: center;
    color: white;
    margin-bottom: 2.5rem;
}

.benefits-points{
    flex-direction: column;
}

.benefits-card{
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 35px;
    padding: 3rem 2rem;
}

.benefits-card-content p{
    margin-bottom: 2.5rem;
    line-height: 30px;
}

.benefits-card-content p:first-child{
    font-size: 3rem;
    font-weight: bold;
    color: #9792e4;
}

.benefits-card-content h3{
    font-size: 1.5rem;
    color: #9792e4;
    margin-bottom: 1rem;
}
        /* BUTTON */
.benefits-card-content a{
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;

    background-color: #9792e4;
    padding: 10px 55px;
    border-radius: 20px;
}

/* ABOUT */
.about{
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.about-content{
    flex-direction: column;
}

.about-text h2{
    font-size: 2.2rem;
    color: #9792e4;
    margin-bottom: 2rem;
}

.about-text p{
    font-size: 1.2rem;
    line-height: 32px;
    margin-bottom: 1.5rem;
}

.ceo-picbox{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    width: 180px;
    height: 180px;

    position: relative;
}

.quote{
    position: absolute;
    top: 0;
    right: 5px;

    color: #9792e4;
    font-size: 3.5rem;
}

.ceo-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
}

.ceo-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

.about-ceo p{
    font-size: 1.8rem;
    font-weight: bold;
    color: #9792e4;
    margin-bottom: 1.5rem;
    padding-right: 2rem;
}
        /* BUTTON */
.about-ceo a{
    text-decoration: none;
    background-color: #9792e4;
    color: white;
    font-size: 1.1rem;

    border-radius: 20px;
    padding: 5px 15px;
}

/* JUMBOTRON */
.jumbo{
    background-color: #9792e4;
    padding-top: 3.5rem;
}

.jumbo-content{
    text-align: center;
    color: white;
}

.jumbo-content h3{
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

.jumbo-content h2{
    color: #fdc15f;
    font-size: 3.2rem;

    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.jumbo-content p{
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 2rem;
}

.jumbo-content p:last-child{
    font-size: 0.8rem;
}

.jumbo-content p:last-child a{
    color: inherit;
}

        /* JUMBO BTN */
.jumbo-btn{
    font-weight: bold;
    text-decoration: none;
    color: #9792e4;
    background-color: white;
    border-radius: 30px;
    letter-spacing: 2px;

    padding: 16px 50px;
    display: inline-block;
    margin-bottom: 2rem;
}

/* FOOTER */
.foot{
    background-color: #333333;
    color: white;
    text-align: center;

}

.foot-content{
    padding-top: 3rem;
}

.foot-content p{
    padding: 3rem 2rem;
}

.foot-content p:last-child a{
    color: #9792e4;
}

/*** 
TABLET RESP
***/
@media screen and (min-width:768px) {

    /* SUMMARY SECTION */
    .summary-parts{
        flex-direction: row;
        flex-wrap: wrap;

        margin-left: -1rem;
        margin-right: -1rem;
    }

    .summary-col{
        width: calc(100% / 3);
        padding: 0 1rem;

    }

    .summary-col:first-child{
        width: calc((100% / 3) * 2);
    }

    /* REVIEW SECTION */
    .review-card{
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .review-text{
        width: calc(100% - 200px);
        height: 100%;
        text-align: left;

        margin-left: 1rem;
    }

    .benefits-points{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .benefits-card{
        width: calc((100% / 2) - 1rem);
    }

    /* ABOUT */
    .about-content{
        flex-direction: row;
        justify-content: space-between;
    }

    .about-text{
        width: 60%;
    }

    .about-ceo{
        width: 30%;
    }

    /* JUMBOTRON */
    .container-jumbo{
        width: 70%;
        margin: 0 auto;
    }

    /* FOOTER */
    .container-foot{
        width: 65%;
        margin: 0 auto;
    }


    
}

/*** 
DESKTOP RESP
***/
@media screen and (min-width:992px) {
    /* NAVBAR */
    .burger-menu{
        display: none;
    }

    .desk-menu{
        display: block;
    }

    .desk-menu ul a{
        color: white;
        text-decoration: none;
        margin-left: 1rem;
    }

    /* SUMMARY */
    .summary-content{
        flex-direction: row;
    }

    .summary-content-img{
        padding-top: 3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .btn-start :last-child{
        color: black;
        background-color: white;
        border-radius: 20px;
        padding: 10px 25px;
    }

    /* STRATEGY DESK */
    .strategy{
        flex-direction: row;
        color: white;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .strategy-2{
        flex-direction: column;
        align-self: flex-end;
        background-color: white;
        border-radius: 50px;
        color: black;
        padding: 0 1rem;
    }

    /* BENEFITS DESK */
    .benefits-card{
        width: calc((100% / 3) - 1rem);
    }

    
}

/************************ 
    (?)MOBILE FIRST-LAYOUT
        BREAKPOINT:
        TABLET: 768px
        DESKTOP:992px 
**************************/